@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root{
  --vinho-fundo: #201d1d;
  --vinho: #7c0f0c;
  --cinza-leve: #f7f7f7;
  --cinza-destaque: #bdbdbd;
  --verde-whats: #25d366;
}

body,
html {
  height: 100vh;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

main {
  background-color: black;
  font-family: "Public Sans", sans-serif;
}

h1 {
  margin-bottom: 0;
  font-size: 30px;
  text-align: center;
}

p {
  margin-left: 20px;
  margin-right: 20px;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
  color: white;
  background-color: var(--vinho-fundo);
}

header > nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

header > nav > a > img {
  width: 100px;
  height: 70px;
}

header > nav > img.material-symbols-outlined {
  width: 60px;
  height: 60px;
}

header > nav > menu {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-10%);
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 110vh;
  background-color: var(--vinho-fundo);
  background-repeat: no-repeat;
  background-size: cover;
}

header > nav > menu > img.material-symbols-outlined {
  width: 35px;
  height: 35px;
  margin-top: 80px;
  margin-bottom: 50px;
}

header > nav > menu > a {
  display: block;
  position: relative;
  padding: 15px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

header > nav > menu > a:nth-child(4) {
  padding-bottom: 50px;
}

header > nav > menu > a.fale-conosco {
  position: relative;
  padding: 12px 30px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 99999px;
  background-color: var(--vinho);
}

section#apresentacao {
  height: calc(100dvh - 90px);
  padding-bottom: 30px;
  background-image: url("../imagens/fundo.svg");
  background-color: var(--cinza-destaque);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section#apresentacao > h1 {
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 60px;
  font-weight: bold;
  text-align: left;
}

section#apresentacao > h1 > span.red {
  color: var(--vinho);
}

section#apresentacao > p {
  width: 75vw;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 70px;
}

section#apresentacao > a.fale-conosco {
  display: block;
  margin: 20px 80px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 12px 20px;
  border-radius: 99999px;
  background-color: var(--vinho);
}

section#produtos {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  padding-top: 10px;
  background: white;
}

section#produtos > h1 {
  padding-left: 20px;
  font-size: 47px;
  text-align: center;
}

section#produtos > div > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 454px;
}

section#produtos > div > div > h2 {
  font-size: 27px;
  text-align: center;
}

section#produtos > div > div > h2:nth-child(1) {
  margin-top: 20px;
}

section#produtos > div > div > img {
  width: 100%;
  height: 400px;
  margin-bottom: 30px;
}

section#produtos > div > div > img:nth-child(2) {
  margin-bottom: 0px;
}

section#quem-somos {
  display: flex;
  flex-direction: column;
  padding-bottom: 70px;
  background-color: var(--cinza-destaque);
}

section#quem-somos > h1 {
  padding-left: 20px;
  font-size: 70px;
  text-align: left;
}

section#quem-somos > article {
  display: flex;
  flex-wrap: wrap;
}

section#quem-somos > article > div > p {
  font-size: 18px;
  margin-bottom: 20px;
}

section#quem-somos > article > div > img {
  width: 100%;
  height: 400px;
  margin-bottom: 50px;
  border-radius: 5px;
}

section#quem-somos > article > h2 {
  font-size: 30px;
  text-align: center;
}

section#quem-somos > article > iframe {
  display: block;
  width: 100%;
  height: 220px;
  margin: 70px auto;
  margin-top: 0;
  background-color: black;
}

section#avaliacao-clientes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 0;
  background-color: white;
}

section#avaliacao-clientes > h1 {
  text-align: center;
  font-size: 50px;
}

section#avaliacao-clientes > div {
  display: flex;
  flex-wrap: wrap;
}

section#avaliacao-clientes > div > article {
  display: block;
  width: 350px;
  margin: 30px auto;
  background-color: var(--cinza-leve);
  border-radius: 7px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.145);
}

section#avaliacao-clientes > div > article > h2 {
  padding-top: 10px;
  margin-left: 20px;
  font-size: 20px;
}

section#avaliacao-clientes > div > article > p {
  padding-bottom: 30px;
}

section#contato {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: var(--cinza-destaque);
}

section#contato > article {
  width: 100%;
  color: white;
  background-color: black;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.407);
}

section#contato > article > h2 {
  padding-top: 40px;
  padding-left: 10px;
  margin-bottom: 0;
  font-size: 40px;
}

section#contato > article > p {
  margin-top: 30px;
  padding-bottom: 20px;
  font-size: 18px;
  text-decoration: none !important;
  color: white !important;
}

section#contato > article > p > a{
  font-weight: bolder;
  color: rgb(255, 255, 255);
}

section#contato > article > p:nth-child(2) {
  margin-bottom: 0;
}

section#contato > article > p:nth-child(3) {
  margin-top: 0;
  padding-bottom: 80px;
}

section#contato > article > a {
  display: block;
  margin: 0 auto;
  margin: 20px;
  margin-bottom: 60px;
  padding: 12px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: white !important;
  text-decoration: none !important;
  background-color: var(--vinho);
  border-radius: 99999px;
}

button#whatsapp {
  background-color: transparent;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
}

button#whatsapp > a {
  position: fixed;
  bottom: 30px;
  right: 10px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: var(--verde-whats);
  background-image: url("../imagens/WhatsApp.svg");
  background-size: cover;
}

footer {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 880px;
  color: white;
  background-color: var(--vinho-fundo);
}

footer > img {
  width: 100px;
  height: 70px;
  margin: 0 auto;
  padding: 70px;
  padding-bottom: 0;
}

footer > h2 {
  margin: 0;
  padding-top: 70px;
  padding-bottom: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

footer > div {
  display: flex;
}

footer > div > a {
  width: 50px;
  margin: 0 auto;
  padding-top: 10px;
}

footer > div > a > img {
  width: 50px;
  height: 35px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 50px;
}

footer > a#entre-em-contato {
  display: block;
  margin: 30px 80px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 12px 20px;
  border-radius: 99999px;
  background-color: var(--vinho);
}

footer > h2#redes {
  font-size: 30px;
  padding-top: 80px;
}

footer > div#logos {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

footer > div#logos > a {
  width: 40px;
  height: 40px;
  margin: 0 20px;
}

footer > div#logos > a > img {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
}

footer > p {
  font-size: 14px;
  font-weight: lighter;
  text-align: center;
}
