@media screen and (min-width: 768px) {
  header > nav{
    justify-content: space-around;
  }

  header > nav > img.material-symbols-outlined {
    display: none;
  }

  header > nav > menu {
    position: static;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: auto;
    background-image: none;
    background-size: auto;
    background-color: white;
  }

  header > nav > menu > img.material-symbols-outlined {
    display: none;
    margin-top: 80px;
    margin-bottom: 50px;
    font-size: 60px;
  }

  header > nav > menu > a {
    display: block;
    position: static;
    margin-right: 0;
    width: 100px;
    padding: 0px;
    border: none;
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
  }

  header > nav > menu > a:nth-child(4) {
    padding-bottom: 0px;
    margin-right: var(--gap-l);
  }

  header > nav > menu > a.fale-conosco {
    position: static;
    width: auto;
    padding: 10px 20px;
    margin-right: 0;
    margin-top: 0;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 99999px;
    background-color: #7c0f0c;
  }

  section#apresentacao {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100dvh - 70px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
  }

  section#apresentacao > div > h1 {
    width: 470px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 100px;
    font-size: 64px;
    font-weight: bold;
    text-align: left;
  }

  section#apresentacao > div > h1 > span.red {
    color: #7c0f0c;
  }

  section#apresentacao > div > p {
    width: 420px;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 20px;
    margin-bottom: 50px;
    text-align: justify;
  }

  section#apresentacao > div > a.fale-conosco {
    width: 300px;
    margin: 20px 130px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 12px 20px;
    border-radius: 99999px;
    background-color: #7c0f0c;
  }

  section#apresentacao > img{
    display: block;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.266);
  }

  section#produtos {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-top: 0;
  }

  section#produtos > h1 {
    margin-top: 100px;
    margin-bottom: var(--gap-xs);
    font-size: 2.5em;
    text-align: center;
  }

  section#produtos > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
  }

  section#produtos > div > div {
    flex-direction: column;
  }

  section#produtos > div > div.primeiro{
    margin-right: calc(var(--gap-xxl)/2);
  }

  section#produtos > div > div.segundo{
    margin-left: calc(var(--gap-xxl)/2);
  }

  section#produtos > div > div > h2 {
    padding-left: 20px;
    margin-bottom: var(--gap-m);
    font-size: 1.3em;
    text-align: center;
  }

  section#produtos > div > div > h2:nth-child(1) {
    margin-top: 0;
  }

  section#produtos > div > div > img {
    width: 400px;
    height: 400px;
    margin-bottom: var(--gap-m);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.297);
  }

  section#produtos > div > div > img:nth-child(2) {
    margin-bottom: var(--gap-xxl);
  }

  section#produtos > a{
    margin-bottom: 100px;
  }

  section#quem-somos {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    margin-top: 100px;
    margin-bottom: 200px;
  }

  section#quem-somos > h1 {
    margin-top: 0;
    margin-bottom: var(--gap-s);
    font-size: 2.5em;
    text-align: center;
  }

  section#quem-somos > article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  section#quem-somos > article > div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    margin-bottom: var(--gap-xxl);
  }

  section#quem-somos > article > div > p {
    width: 300px;
    text-align: justify;
    align-self: start;
    font-size: 18px;
    margin-left: 0;
    margin-right: calc(var(--gap-xxl)/2);
  }

  section#quem-somos > article > div > img {
    width: auto;
    height: 250px;
    margin-left: calc(var(--gap-xxl)/2);
    margin-bottom: 0;
    border-radius: 5px;
  }

  section#quem-somos > article > h2 {
    width: 100%;
    font-size: 1.4em;
    text-align: center;
    margin-bottom: var(--gap-s);
  }

  section#quem-somos > article > iframe {
    display: block;
    width: 700px;
    height: 400px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: black;
  }

  section#avaliacao-clientes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    padding-top: 0;
    background-color: white;
  }

  section#avaliacao-clientes > h1 {
    width: 100%;
    padding-bottom: 0;
    margin-bottom: var(--gap-s);
    text-align: center;
    font-size: 2.5em;
  }

  section#avaliacao-clientes > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  section#avaliacao-clientes > div > article {
    width: 350px;
    margin: 0;
    margin-right: var(--gap-xxl);
    background-color: #f7f7f7;
    border-radius: 7px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.145);
  }

  section#avaliacao-clientes > div > article:nth-child(1) {
    margin-top: 0;
  }

  section#avaliacao-clientes > div > article > h2 {
    padding-top: 10px;
    margin-left: 20px;
    font-size: 1.2em;
  }

  section#avaliacao-clientes > div > article > p {
    padding-bottom: 30px;
    font-size: 1em;
  }

  section#contato {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    margin: 200px 0;
    background-color: white;
  }

  section#contato > article {
    width: 700px;
    height: auto;
    color: white;
    background-color: #1f1f1f;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.407);
  }

  section#contato > article > h2 {
    margin-top: var(--gap-xl);
    margin-bottom: var(--gap-xs);
    font-size: 2.2em;
  }

  section#contato > article > p {
    margin-top: 0;
    margin-bottom: var(--gap-xs);
    padding-bottom: 0;
    font-size: 1em;
    text-decoration: none !important;
    color: white !important;
  }

  section#contato > article > p:nth-child(2) {
    margin-bottom: 0;
  }

  section#contato > article > p:nth-child(3) {
    margin-top: 0;
    padding-bottom: 0;
  }

  section#contato > article > a {
    display: block;
    width: 300px;
    margin: 0 auto;
    margin-bottom: var(--gap-xxl);
    padding: 12px;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    color: white !important;
    text-decoration: none !important;
    background-color: #7c0f0c;
    border-radius: 99999px;
  }

  button#whatsapp {
    background-color: transparent;
    position: fixed;
    bottom: 30px;
    right: 50px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
  }
  
  button#whatsapp > a {
    position: fixed;
    bottom: 30px;
    right: 50px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #25d366;
    background-image: url("../imagens/WhatsApp.svg");
    background-size: cover;
  }

  footer {
    display: flex;
    flex-direction: column;
    margin: 0;
    color: black;
    background-color: var(--secundary-bg);
  }
  
  footer > img {
    width: 100px;
    height: 70px;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 0;
    margin-top: var(--gap-xxl);
    margin-bottom: var(--gap-l);
  }

  footer > div#footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer > div#footer-content > div:nth-child(2){
    margin-left: 200px;
  }
  
  footer > div#footer-content > div > h2 {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: var(--gap-s);
    text-align: left;
    font-weight: bold;
    font-size: 1.1em;
  }
  
  footer > div#footer-content > div > div.patriocinadores {
    display: flex;
    justify-content: left;
  }
  
  footer > div#footer-content > div > div.patriocinadores > a {
    width: 50px;
    padding: 0;
    margin: 0;
    padding-right: var(--gap-xl);
  }

  footer > div#footer-content > div > div.patriocinadores > a:nth-child(4){
    padding-right: 0;
  }
  
  footer > div#footer-content > div > div.patriocinadores > a > img {
    width: 45px;
    height: 30px;
  }
    
  footer > div#footer-content > div > h2#redes {
    margin: 0;
    margin-bottom: var(--gap-s);
    font-size: 1.1em;
    padding-top: 0;
  }
  
  footer > div#footer-content > div > div#logos {
    display: flex;
    justify-content: left;
    margin: 0;
    padding-bottom: 0;
  }
  
  footer > div#footer-content > div > div#logos > a {
    width: 30px;
    height: 30px;
    margin: 0;
    margin-right: var(--gap-xl);
  }

  footer > div#footer-content > div > div#logos > a:nth-child(1){
    margin-left: 0;
  }

  footer > div#footer-content > div > div#logos > a:nth-child(2){
    margin-right: 0;
  }
  
  footer > div#footer-content > div > div#logos > a > img {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
  }
  
  footer p {
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
  }
  
  footer > a#entre-em-contato {
    display: block;
    margin: 0 auto;
    margin-top: 80px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 15px 50px;
    border-radius: 99999px;
    background-color: #7c0f0c;
  }
}
